{% extends 'base.html.twig' %}
{% block main_content %}




<h4 class="mb-3">Creating a new article</h4>
<div class="form-row">
    <div class="form-group col-md-12">

   {{ form(form) }}

    </div>

</div>



{% endblock %}
{% block right_menu %}
    {{ render(controller('App\\Controller\\Category\\CategoryController::showAll')) }}


{% endblock %}
