<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        {% endblock %}
    </head>
    {% block body %}
    <body class="main">

    <div class="container">

        //Header start
                <div class="row justify-content-center header">
                    {% block header %}
                        <div class="col-md-4 logotype">
                            {{ logoname }}
                        </div>

                        <nav class="nav col-md-8">
                            <a class="nav-link active" href="#">Home</a>
                            <a class="nav-link" href="#">Author</a>

                        </nav>

                    {% endblock %}
                </div>
        //Header end

        //Content start
                <div class="row justify-content-center">

                        //Main content start

                                <div class="col-md-8 main-content">
                                    {% block main_content %}

                                    {% endblock %}
                                </div>
                        //Main content end


                        //Right menu start
                                <div class="col-md-4">
                                    <div class="right-side-menu">
                                        <h5>Categories</h5>
                                        <nav class="nav flex-column">
                                            <a class="nav-link active" href="#">Politics</a>
                                            <a class="nav-link" href="#">Bussines</a>
                                            <a class="nav-link" href="#">Medical</a>
                                            <a class="nav-link" href="#">In a world</a>
                                        </nav>
                                    </div>

                                </div>
                                    {% endblock %}
                         //Right menu  end

                </div>
         //Content end


    </div>




    {% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
