<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        {% endblock %}
    </head>
    {% block body %}
    <body class="main">

    <div class="container">

        {#Header start#}
                <div class="row justify-content-center header">
                    {% block header %}
                        <div class="col-md-4 logotype">
                            {{ logoname }}
                        </div>

                        <nav class="nav col-md-8">
                            <a class="nav-link active" href="{{ path('index') }}">Home</a>
                            <a class="nav-link" href="#">Authors</a>
                            <a class="nav-link" href="#">Login</a>

                        </nav>

                    {% endblock %}
                </div>
        {#Header end#}

        {#Content start#}
                <div class="row justify-content-center">

                        {#Main content start#}

                                <div class="col-md-8 main-content">
                                    {% block main_content %}


                                    {% endblock %}
                                    {% block commentsForm %}
                                    {% endblock %}
                                    {% block comments %}
                                    {% endblock %}
                                </div>
                        {#Main content end#}



                        {#Right menu start#}
                                {% block right_menu %}

                                    {% endblock %}
                         {#Right menu  end#}

                </div>
         {#Content end#}


    </div>





    {% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
