 {% block right_menu %}
     <div class="col-md-4">
         <div class="right-side-menu">
             {% if is_granted('IS_AUTHENTICATED_FULLY') %}
             <div class="add-post " >
                 <a class="btn btn-outline-info mb-3" role="button" type="button" href="{{ path('create_article') }}">Create new article</a>
             </div>
             {% endif %}
             <h5>Categories</h5>
             <nav class="nav flex-column">
                 {% for category in categories %}
                 <a class="nav-link active" href="{{ path('show_categories_in_menu', {'id': category.id}) }}">{{ category.name }}</a>
                 {% endfor %}
             </nav>
             <h5>Knp Menu</h5>
             <nav class="nav flex-column">
                 {{ knp_menu_render('mainMenu') }}
             </nav>
         </div>

     </div>

 {% endblock %}
