{% block comments %}
 <h4 class="mt-4 mb-4">Comments</h4>
    {% for comment in comments|reverse %}
        <blockquote class="blockquote bg-white mb-4 p-2">
            <p class="mb-1">{{ comment.body }}</p>
            <footer class="blockquote-footer"><b>{{ comment.authorName }}</b> say at:
                <cite > {{ comment.createdAt|date("d.m.Y") }}</cite></footer>
        </blockquote>

    {% endfor %}

{% endblock %}

